<div class="table-container">
  <div class="header-box">
    <span class="header-text">Customer AHPOP - Orders</span>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Cabecera de la tabla -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef>Order ID</th>
      <td mat-cell *matCellDef="let order">{{ order.orderId }}</td>
    </ng-container>

    <ng-container matColumnDef="requiredDate">
      <th mat-header-cell *matHeaderCellDef>Required Date</th>
      <td mat-cell *matCellDef="let order">{{ order.requiredDate | date: 'shortDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="shippedDate">
      <th mat-header-cell *matHeaderCellDef>Shipped Date</th>
      <td mat-cell *matCellDef="let order">{{ order.shippedDate | date: 'shortDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="shipName">
      <th mat-header-cell *matHeaderCellDef>Ship Name</th>
      <td mat-cell *matCellDef="let order">{{ order.shipName }}</td>
    </ng-container>

    <ng-container matColumnDef="shipAddress">
      <th mat-header-cell *matHeaderCellDef>Ship Address</th>
      <td mat-cell *matCellDef="let order">{{ order.shipAddress }}</td>
    </ng-container>

    <ng-container matColumnDef="shipCity">
      <th mat-header-cell *matHeaderCellDef>Ship City</th>
      <td mat-cell *matCellDef="let order">{{ order.shipCity }}</td>
    </ng-container>

    <!-- Fila de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  <div class="footer-action">
    <a href="#" class="close-link" (click)="onCloseClick()">CLOSE</a>
  </div>
</div>
